<div *ngIf="match.statusMatch === 'NS'" class="mainCardDiv" (click)="goToMatchDetails(match.id)">
    <div class="league-title">{{ match.league }}</div>
    <div class="teams">
      <div class="team">
        <img [src]="match.imgHomeTeam" class="imgTeamLogo" alt="{{ match.homeTeam }}">
        <div class="team-name">{{ match.homeTeam }}</div>
      </div>
      <div class="versus">-</div>
      <div class="team">
        <img [src]="match.imgAwayTeam" class="imgTeamLogo" alt="{{ match.awayTeam }}">
        <div class="team-name">{{ match.awayTeam }}</div>
      </div>
    </div>
    <div class="bet-buttons">
      <button class="odd-button" (click)="placeBet('Home'); $event.stopPropagation()">
        {{ getOddForType(match.oddsList, 'Home') }}
      </button>
      <button class="odd-button" (click)="placeBet('Draw'); $event.stopPropagation()">
        {{ getOddForType(match.oddsList, 'Draw') }}
      </button>
      <button class="odd-button" (click)="placeBet('Away'); $event.stopPropagation()">
        {{ getOddForType(match.oddsList, 'Away') }}
      </button>
    </div>
  </div>
  